.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 0 0 30px;
  background-color: #d7d1bb ;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #1A3549 ;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #1A3549 ;
  background-color: #F1CF45 ;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #588DDF;
}
